.name
{
   
    border: 3px dashed purple;
    background-color: greenyellow;
    font-style: italic;
    font-size: large;
    margin: 10px;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Box
{
    background-color: cyan;
    display: block
}
h1
{
    color: maroon;
}